@import url('base.css');

/* navbar */
/* Mobile Layout */
@media only screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--standard-width);
        height: var(--navbar-height);
        padding: 0 var(--spacing-md);
        margin: 0 0 var(--spacing-md) 0;
        box-sizing: border-box;
        background-color: var(--color-primary-with-opacity);
    }
    
    .navbar img {
        max-width: var(--navbar-image-width);
    }
    
    .menu {
        display: none; /* Hidden for Mobile */
    }
    
    .navbar-button {
        display: none; /* Hidden for Mobile */
    }
    
    .hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    
    .hamburger-button .bar {
        background-color: var(--color-secondary);
        height: var(--hamburger-height);
        width: var(--hamburger-width);
        margin-top: var(--spacing-xs);
        margin-bottom: var(--spacing-xs);
        border-radius: var(--hamburger-border-radius);
    }
    
    /* Mobile Menu - Initially Hidden */
    .mobile-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-primary);
        flex-direction: column;
        text-align: center;
        padding: 0; /* Remove unnecessary padding */
        margin: 0;  /* Remove unnecessary margin */
        background-color: var(--color-primary-with-opacity);
    }
    
    /* Mobile Menu Items */
    .mobile-menu li {
        list-style: none;
        padding: var(--spacing-sm);
    }
    
    .mobile-menu a {
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: bold;
        display: block;
        padding: var(--spacing-sm);
    }
    
    /* Show Mobile Menu when Active */
    .mobile-menu.active {
        display: flex;
    }
    
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: var(--color-primary);
        padding: var(--spacing-md) 0;
    }
    
    .two-column {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items */
        text-align: start; /* Ensure text is aligned properly */
    }
    
    .two-column .col-left h4 {
        text-align: center;
    }
    
    .two-column .col-left, .two-column .col-right {
        width: 100%; /* Full width */
        padding: var(--spacing-sm); /* Add some spacing */
    }
    
    /* Contact Form Section */
    .contact-section {
        width: 100%;
        max-width: var(--standard-width);
        margin: auto auto;
        padding: var(--spacing-lg) var(--spacing-md);
    }
    
    .contact-intro > * + * {
        margin-top: var(--spacing-md);
    }
    
    .form-group-container {
        display: flex;
        justify-content: center;
        width: 95%;
        flex-direction: column;
        gap: var(--spacing-goat);
        margin: auto;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
    }
    
    .form-label {
        margin-bottom: var(--spacing-sm);
    }
    
    .form-input,
    .form-textarea {
        padding: var(--spacing-sm);
        border: var(--border-line-size) solid var(--color-light-gray);
        border-radius: var(--border-radius-sm);
        display: flex;
        height: var(--spacing-medge);
        max-width: 85%;
        line-height: var(--secondary-text-height);
    }
    
    .form-input::placeholder,
    .form-textarea:focus-visible {
        color: var(--color-light-gray);
    }
    
    .form-input:focus-visible,
    .form-textarea:focus-visible {
        outline: var(--border-line-size) solid var(--color-tertiary);
        outline-offset: var(--spacing-xs);
    }
    
    .form-textarea {
        min-height: 8rem;
    }
    
    .form-submit {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-top: var(--spacing-sm);
        background-color: var(--color-secondary);
        color: var(--color-primary);
        padding: var(--spacing-shmedium) var(--spacing-shmedium);
        border-radius: var(--border-radius-sm);
        border: none;
    }
    
    .form-submit:hover {
        background-color: var(--color-tertiary);
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-primary-with-opacity);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        color: var(--color-secondary);
        background: var(--color-primary);
        padding: var(--spacing-md);
        border-radius: var(--border-radius-sm);
        text-align: center;
    }
    
    .modal-content h4 {
        color: var(--color-tertiary);
    }

    .close-btn {
        display: block;
        margin-top: var(--spacing-medge);
        text-decoration: none;
        background: var(--color-secondary);
        color: var(--color-white);
        padding: var(--spacing-shmedium) var(--spacing-medge);
        border-radius: var(--border-radius-sm);
    }

    .close-btn:hover {
        background: var(--color-tertiary);
    }
}

/* Desktop Layout */
@media only screen and (min-width: 600px) {
    .navbar {
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--standard-width);
        padding: 0 var(--spacing-md);
        box-sizing: border-box;
    }
    
    .navbar img {
        width: var(--navbar-image-width);
        height: var(--navbar-image-height);
    }
    
    .menu {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    
    .menu a {
        color: var(--color-secondary);
        margin: 0 var(--spacing-md);
        font-weight: bold;
    }
    
    .menu a:hover {
        text-decoration: underline;
    }
    
    .navbar-button {
        color: var(--color-tertiary);
        background: var(--color-primary);
        border: var(--border-line-size) solid var(--color-quaternary);
        width: 5rem;
        height: 2rem;
    }
    
    .navbar-button:hover {
        background: var(--color-quaternary);
    }
    
    .hamburger-button {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }
    
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-primary);
    }
    
    /* Contact Form Section */
    .contact-section {
        width: 100%;
        max-width: var(--standard-width);
        margin: auto auto;
        padding: var(--spacing-lg) var(--spacing-md);
    }
    
    .contact-intro > * + * {
        margin-top: var(--spacing-md);
    }
    
    .form-group-container {
        display: flex;
        justify-content: center;
        width: 95%;
        flex-direction: column;
        gap: var(--spacing-goat);
        margin: auto;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
    }
    
    .form-label {
        margin-bottom: var(--spacing-sm);
    }
    
    .form-input,
    .form-textarea {
        padding: var(--spacing-sm);
        border: var(--border-line-size) solid var(--color-light-gray);
        border-radius: var(--border-radius-sm);
        display: flex;
        height: var(--spacing-medge);
        max-width: 85%;
        line-height: var(--secondary-text-height);
    }
    
    .form-input::placeholder,
    .form-textarea:focus-visible {
        color: var(--color-light-gray);
    }
    
    .form-input:focus-visible,
    .form-textarea:focus-visible {
        outline: var(--border-line-size) solid var(--color-tertiary);
        outline-offset: var(--spacing-xs);
    }
    
    .form-textarea {
        min-height: 8rem;
    }
    
    .form-submit {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-top: var(--spacing-sm);
        background-color: var(--color-secondary);
        color: var(--color-white);
        padding: var(--spacing-shmedium) var(--spacing-shmedium);
        border-radius: var(--border-radius-sm);
        border: none;
    }
    
    .form-submit:hover {
        background-color: var(--color-tertiary);
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-primary-with-opacity);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        color: var(--color-secondary);
        background: var(--color-primary);
        padding: var(--spacing-md);
        border-radius: var(--border-radius-sm);
        text-align: center;
    }
    
    .modal-content h4 {
        color: var(--color-tertiary);
    }

    .close-btn {
        display: block;
        margin-top: var(--spacing-medge);
        text-decoration: none;
        background: var(--color-secondary);
        color: var(--color-white);
        padding: var(--spacing-shmedium) var(--spacing-medge);
        border-radius: var(--border-radius-sm);
    }

    .close-btn:hover {
        background: var(--color-tertiary);
    }
}
