@import url('base.css');

/* navbar */
/* Mobile Layout */
@media only screen and (max-width: 650px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--standard-width);
        height: var(--navbar-height);
        padding: 0 var(--spacing-md);
        margin: 0 0 var(--spacing-md) 0;
        box-sizing: border-box;
        background-color: var(--color-primary-with-opacity);
    }
    
    .navbar img {
        max-width: var(--navbar-image-width);
    }
    
    .menu {
        display: none; /* Hidden for Mobile */
    }
    
    .navbar-button {
        display: none; /* Hidden for Mobile */
    }
    
    .hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    
    .hamburger-button .bar {
        background-color: var(--color-secondary);
        height: var(--hamburger-height);
        width: var(--hamburger-width);
        margin-top: var(--spacing-xs);
        margin-bottom: var(--spacing-xs);
        border-radius: var(--hamburger-border-radius);
    }
    
    /* Mobile Menu - Initially Hidden */
    .mobile-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-primary);
        flex-direction: column;
        text-align: center;
        padding: 0; /* Remove unnecessary padding */
        margin: 0;  /* Remove unnecessary margin */
        background-color: var(--color-primary-with-opacity);
    }

    /* Mobile Menu Items */
    .mobile-menu li {
        list-style: none;
        padding: var(--spacing-sm);
    }

    .mobile-menu a {
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: bold;
        display: block;
        padding: var(--spacing-sm);
    }

    /* Show Mobile Menu when Active */
    .mobile-menu.active {
        display: flex;
    }
    
    .catergory-container {
        margin: var(--spacing-xl) auto;
    }
    
    .catergory-container .menu a {
        padding: var(--spacing-md);
    }
    
    .two-column {
        flex-direction: column;  /* Change to vertical layout */
        align-items: center;     /* Center content */
    }

    .two-column .col-left, .two-column .col-right {
        width: 100%; /* Make columns take full width */
        text-align: center; /* Optional: Center-align text */
    }
}

/* Desktop Layout */
@media only screen and (min-width: 650px) {
    .navbar {
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--standard-width);
        padding: 0 var(--spacing-md);
        margin: 0 0 var(--spacing-sm) 0;
        box-sizing: border-box;
    }
    
    .navbar img {
        width: var(--navbar-image-width);
        height: var(--navbar-image-height);
    }
    
    .menu {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    
    .menu a {
        color: var(--color-secondary);
        margin: 0 var(--spacing-md);
        font-weight: bold;
    }
    
    .menu a:hover {
        text-decoration: underline;
    }
    
    .navbar-button {
        color: var(--color-tertiary);
        background: var(--color-primary);
        border: var(--border-line-size) solid var(--color-quaternary);
        width: 5rem;
        height: 2rem;
    }
    
    .navbar-button:hover {
        background: var(--color-quaternary);
    }
    
    .hamburger-button {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }
    
    .catergory-container {
        margin: var(--spacing-xs) 0;
    }
    
    .catergory-container .menu a {
        padding: 0;
    }
    
    .section-container {
        margin: 0 auto;
    }
}

/* Catergory Container */
.catergory-container {
    text-align: center;
    max-width: 100%;
}

.catergory-container .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: var(--spacing-xs);
}

.catergory-container .menu li {
    margin: 0 auto;
}

.catergory-container .menu a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary-with-opacity);
    border-radius: var(--border-radius-sm);
    transition: background-color 0.3s, color 0.3s;
}

/* Style for the active/selected category */
.catergory-container .menu a.active,
.catergory-container .menu a:focus,
.catergory-container .menu a:hover {
    color: var(--color-tertiary);
    text-decoration: underline;
}

.app-overview {
    list-style-type: disc; /* Default bullet points */
    margin: var(--spacing-md) 0;
    padding-left: var(--spacing-lg);
}

.app-overview li {
    margin-bottom: var(--spacing-sm); /* Space between each feature */
    font-size: var(--p-size);
    line-height: var(--p-height);
}

/* Image Swiper */
.swiper {
  width: 26rem;
  height: 50rem;
}

.swiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fit;
}

