@import url('base.css');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    margin: 0 0 var(--spacing-md) 0;
    box-sizing: border-box;
}
.navbar img {
    max-width: var(--navbar-image-width);
    max-height: var(--navbar-image-height);
}
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--color-secondary);
    margin: 0 var(--spacing-md);
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.navbar-button {
    background: var(--color-quaternary);
    border: none;
    border-radius: var(--border-radius-sm);
    width: 5rem;
    height: 5rem;
}

.navbar-button:hover {
    background: var(--color-quaternary);
}

.section-container {
    margin: 0;
    max-width: 95%;
    padding: var(--spacing-sm);
}

/* Search Container */
.search-container {
    margin: var(--spacing-medge) 0;
    text-align: center; /* Center-align the container */
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: var(--spacing-shmedium); /* Add spacing between elements */
}

/* Ensure buttons and input have consistent alignment */
.search-bar {
    width: 10rem;
    padding: var(--spacing-sm);
    border: var(--border-line-size) solid var(--color-light-gray);
    border-radius: var(--border-radius-sm);
}

.search-button,
.clear-button {
    padding: var(--spacing-sm) var(--spacing-shmedium);
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.search-button:hover,
.clear-button:hover {
    background-color: var(--color-tertiary);
}

/* Blog Container */
.blog-container h6 {
    font-weight: 600;
    color: var(--color-tertiary);
}

/* Blog List */
.blog-list {
    padding: none;
}

.blog-list hr {
    border-top: var(--border-line-size) solid var(--color-secondary);
}

/* Blog Item */
.blog-item {
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-sm);
    background-color: var(--color-primary);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-item h4 {
    color: var(--color-secondary)   ;
}

.blog-images img {
    max-width: 100%; /* Ensures image does not exceed container width */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes extra spacing under images */
    margin: 0 auto; /* Centers the image */
}



