@import url('base.css');

body {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    margin: 0 0 var(--spacing-xl) 0;
    box-sizing: border-box;
}

.navbar img {
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--color-tertiary);
    margin: 0 var(--spacing-md);
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.navbar-button {
    background: var(--color-tertiary);
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
}

.navbar-button:hover {
    background: var(--color-quaternary);
}

/* Catergory Container */
.catergory-container {
    text-align: center;
    margin: var(--spacing-md) 0;
}

.catergory-container .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: var(--spacing-md) var(--spacing-md);
}

.catergory-container .menu li {
    margin: 0 var(--spacing-md);
}

.catergory-container .menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-primary-muted);
    padding: var(--spacing-md) var(--spacing-md);
    border-radius: var(--border-radius-sm);
    transition: background-color 0.3s, color 0.3s;
}

/* Style for the active/selected category */
.catergory-container .menu a.active,
.catergory-container .menu a:focus,
.catergory-container .menu a:hover {
    color: hsla(0, 0%, 100%, 1);
    text-shadow: 0 0 0.5rem hsla(0, 0%, 100%, 0.8);
}

/* Blog Container */
.blog-container {
    h3 {
        font-weight: 600;
    }
}

/* Blog List */
.blog-list {
    list-style: none;
    hr {
        border-top: var(--border-line-size) solid var(--color-secondary);
    }
}

/* Blog Item */
.blog-item {
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-sm);
    background-color: var(--color-primary);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    h4 {
        color: var(--color-secondary);
    }
}
